* {
    -webkit-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
body,
html {
    scroll-behavior: smooth;
}

* {
    font-family: "Microsoft Yahei,PingFangSC-Regular,arial, verdana, sans-serif";
}

code {
    overflow: auto;
}

/* #collapsibleNavbar, */
#mynavigationbar-dceff036a563faf668b4d4a50fd702d1d95 {
    overflow: auto;
    max-height: 100%;
}

* {
    -webkit-user-select: text !important;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text !important;
}
/* </style>
<style> */
* {
    font-family: "Microsoft Yahei", Helvetica, Tahoma, Arial, "PingFang SC",
        "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", "WenQuanYi Micro Hei",
        sans-serif !important;
}
.mybutton-8731e6c5bb5148e49e14cca7cdfa73e8 {
    font-size: 1rem;
    font-weight: 400;
    color: #007aff;
}
a.active {
    border-style: solid;
    border-width: medium;
    border-color: #646cff;
    font-weight: 600;
    color: #646cff;
}
