#content-aa867a1d8c5dfbf2abbff8bc2af55a88a36 {
    text-align: center !important;
}
@media (max-width: 550px) {
    /* 宽度小 */

    #mynewsidelan-c887e2d697f11af869981691c9830ebd892 {
        width: 100%;
    }

    #cebianlan-720feeaf8ee88a6b9b9399876713ed78af4 {
        width: 100%;
        /* display: none; */
    }
}
#cebianlan-720feeaf8ee88a6b9b9399876713ed78af4 {
    overflow: auto;
    /* max-height: 90%; */
}
@media (min-width: 550px) {
    #cebianlan-720feeaf8ee88a6b9b9399876713ed78af4 {
        max-height: 100%;
    }
}
@media (max-width: 550px) {
    #cebianlan-720feeaf8ee88a6b9b9399876713ed78af4 {
        max-height: 100%;
    }
}
#mynewsidelan-c887e2d697f11af869981691c9830ebd892 {
    overflow: auto;
}

@media (min-width: 550px) {
    /*宽度 大 */

    #cebianlan-720feeaf8ee88a6b9b9399876713ed78af4 {
        display: inline-block;
    }
}
@media (min-width: 550px) {
    /*宽度 大 */

    #mynewsidelan-c887e2d697f11af869981691c9830ebd892 {
        width: fit-content;
    }
}
@media (min-width: 992px) {
    /*宽度 大 */

    #mynewsidelan-c887e2d697f11af869981691c9830ebd892 {
        width: fit-content;
    }
}
.el-container {
    margin-bottom: 0;
}

.el-aside {
    /* background-color: #d3dce6; */
    color: #333;
    text-align: center;
    line-height: 30px;
}
h5#markdownurlsrc-63228f01b0737ac6a8b1c08af92dec0eb11,
h5#markdownerror-4c6b19f7b26c2b519b8ff480769b5565d6b {
    padding: 3px 3px;
    color: black;
    border-radius: 3px;
    border: 1px solid #007aff;
    /* position: relative !important; */
    max-width: 95%;
    /* display: block !important; */
    text-align: center !important;
}
button.btn.btn-outline-primary.clipbutton {
    /* mui中设置按钮 relative导致按钮前置?*/
    position: absolute;
}

#content-aa867a1d8c5dfbf2abbff8bc2af55a88a36 li {
    text-align: center !important;
}
@media (min-width: 550px) {
    .mysidebar {
        width: fit-content;
        max-width: fit-content;
    }
}
@media (max-width: 550px) {
    .mysidebar {
        width: 100%;
        max-width: 100%;
    }
}
