p {
    color: #000 !important;
}
pre {
    text-align: left !important;
}
.content-aa867a1d8c5dfbf2abbff8bc2af55a88a36 p {
    font-size: 1rem;
}

.mynewsidelan-c887e2d697f11af869981691c9830ebd892 p {
    margin: 0;
}

button.btn.btn-outline-primary.clipbutton {
    /* mui中设置按钮 relative导致按钮前置?*/
    position: absolute;
}
